__pycache__/
*.py[cod]
*.pyo

.venv/
env/
venv/

.vscode/

*.log
*.tmp

node_modules/

#comentando para subir uma dist, para n precisar rodar o docker fullstack que demora mais.
#dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local


